html {
  -webkit-font-smoothing: antialiased;
  background-color: #222;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
  background-repeat: repeat;
}

body {
  background: #fff;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 16px;
  color: #222;
}

.logo {
  margin: 0 auto;
  background: url(../img/logo.png) no-repeat 0 0;
  width: 480px;
  height: 158px;
  position: relative;
  left: -70px;
  top: 45px;
  right: 0;
}

.login-link { color: #34495e; }
.footnote { margin-top: 10px; font-size: 11px; color: #34495e; }
.welcome { background: #fff; }
.container { width: 960px; }
.poweredby { width: 160px; font-size: 14px; font-weight: bold; }

.front-page-form .form:before { content: none; }
.front-page-form .form .login-field { width: 220px; }

/* flat ui overrides */
  .demo-browser { background: #2c3e50; margin: 0; padding-top: 0px; border-radius: 6px; }
  .demo-browser-content { min-height: 271px; }
  .demo-browser-action > .btn:before { margin-right: 8px;}
  .demo-browser-action > .logout:before { content: ""; margin-right: 12px;}
  /* original color: #1abc9c */
  .login-screen { background-color: #4f99c4 !important; background: #4f99c4 url('../img/bg.png') repeat top center; }
  .form .login-field:focus + .login-field-icon { color: #4f99c4; }
  textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="time"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="color"]:focus,
    .uneditable-input:focus { border-color: #4f99c4; }
  
  /* original color: #2ecc71 */
  a { color: #f2f2f2; text-decoration: none; cursor: hand !important; cursor: pointer; }
  a:hover { color: #4f99c4; text-decoration: underline; }

.login-icon > h4 { color: white; }
.open-menu { position: absolute; top: 10px; right: 10px; }
.open-menu .btn { padding: 5px !important; width: auto; }
.open-menu a { display: block; float: left; }
.open-menu .greeting { line-height: 35px; padding-right: 10px; }
.btn-excite { background-color: #34495e !important; }
.menu-icon { display: inline-block; width: 17px; height: 17px; background: url(../img/menu.png) no-repeat 0 0; position: relative; top: 3px; left: 3px; }
aside { visibility: hidden; display: none; }
.default-popup { position: absolute !important; overflow: auto; max-height: 473px !important; top: 10% !important; margin: 0 0 0 -454px !important; margin-top: 0 !important; }
.avgrund-popup { position: absolute; }
.playground .nav-tabs {
  margin: 0;
}
.playground .nav-tabs li:first-child {
  margin-left: 10px;
}

#preview {
  padding: 10px;
}
#code {
  position: relative;
  height: 600px;
}

#editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.copy {
  padding: 10px;
  margin: 30px 0 0;
  border-radius: 5px;
}
.hero-unit,
.copy {
  background: #EBE7DA;
}
.copy p {
  margin: 0;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
}

.section { height: 360px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; border-top: 1px solid rgba(255,255,255,0.3); border-bottom: 1px solid rgba(0,0,0,0.4); box-shadow: 0 0 50px rgba(0,0,0,0.8);}

#first { height: 260px; background: #fff url('../img/bg.png') repeat top center; }
#second { background: url(../img/nyc.png) 50% 0 no-repeat fixed; }
#third { background: url(../img/texture-noise.png); color: white; }

#second h1 { margin-top: 100px; color: white; text-shadow: 5px 5px 0 #ffd217; }
#second small { background-color: black; color: white; text-shadow: none; padding: 5px; position: relative; top: 15px; background-color: rgba(0,0,0,0.6);}


#first .logo, #first .tile { display: inline-block; }
#first .tile { width: 250px; }
#first article { width: 100%; top: 0px; position: absolute; text-align: center; }

#second { padding: 0; max-height: 360px !important; background-color: #BFD1E5; }

#third { height: 440px; padding: 0; background: #092D3F; }
