html {
  -webkit-font-smoothing: antialiased;
  background-color: #222;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
  background-repeat: repeat;
}

body {
  background: #fff;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 16px;
  color: #222;
}

.micro {
  display: block;
  margin: 10px 0 0 0;
  font-size: 12px;
}

.logo {
  margin: 0 auto;
  background: url(../img/logo.png) no-repeat 0 0;
  width: 480px;
  height: 158px;
  position: relative;
  left: -70px;
  top: 45px;
  right: 0;
}

.login-link { color: #34495e; }
.footnote { margin-top: 10px; font-size: 11px; color: #34495e; }
.welcome { background: #fff; }
.container { width: 960px; }
.poweredby { width: 160px; font-size: 14px; font-weight: bold; }

.front-page-form .form:before { content: none; }
.front-page-form .form .login-field { width: 220px; }
.short-form { width: 300px; }
.view-profile { font-size: 15px; padding-left: 0px !important; }
.gravatar { width: 111px; }

/* flat ui overrides */
  .demo-browser { background: #2c3e50; margin: 0; padding-top: 0px; border-radius: 6px; }
  .demo-browser-content { min-height: 271px; }
  .demo-browser-content h3 { margin-bottom: 15px; }
  .demo-browser-action > .btn:before { content: ""; margin-right: 12px;}
  .demo-browser-action > .new-world:before { content: "\e004" !important; margin-right: 8px; }
  .demo-browser-side { padding: 20px 20px 0 20px; }
  .demo-browser-action { padding: 15px 0 12px; }
  /* original color: #1abc9c */
  .login-screen { background-color: #4f99c4 !important; background: #4f99c4 url('../img/bg.png') repeat top center; }
  .form .login-field:focus + .login-field-icon { color: #4f99c4; }
  textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="time"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="color"]:focus,
    .uneditable-input:focus { border-color: #4f99c4; }
  
  /* original color: #2ecc71 */
  a { color: #f2f2f2; text-decoration: none; cursor: hand !important; cursor: pointer; }
  p a { color: #4f99c4; }
  a:hover { color: #4f99c4; text-decoration: underline; }

.login-icon > h4 { color: white; }
.open-menu, .menu-buttons { position: absolute; top: 10px; right: 10px; }
.open-menu .btn { padding: 5px !important; width: auto; }
.open-menu a, .menu-buttons a { display: block; float: left; }
.open-menu .greeting { line-height: 35px; padding-right: 10px; }
.btn-excite { background-color: #34495e !important; }
.menu-icon { display: inline-block; width: 17px; height: 17px; background: url(../img/menu.png) no-repeat 0 0; position: relative; top: 3px; left: 3px; }
aside { visibility: hidden; display: none; }
.default-popup { position: absolute !important; overflow: auto; max-height: 473px !important; top: 10% !important; margin: 0 0 0 -454px !important; margin-top: 0 !important; }
.avgrund-popup { position: absolute; }
.hidden { visibility: hidden; }
.world-image {
  display: block;
  width: 40px;
  height: 40px;
  float: left;
  background-image: url('/img/world.png');
  margin-right: 10px;
}
.world-info {
  float: left;
}
.playground .nav-tabs {
  margin: 0;
}
.playground .nav-tabs li:first-child {
  margin-left: 10px;
}

#preview {
  padding: 10px;
}
#code {
  position: relative;
  height: 600px;
}

#editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.copy {
  padding: 10px;
  margin: 30px 0 0;
  border-radius: 5px;
}
.hero-unit,
.copy {
  background: #EBE7DA;
}
.copy p {
  margin: 0;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
}

.section { height: 360px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; border-top: 1px solid rgba(255,255,255,0.3); border-bottom: 1px solid rgba(0,0,0,0.4); box-shadow: 0 0 50px rgba(0,0,0,0.8);}

#first { height: 260px; background: #fff url('../img/bg.png') repeat top center; }
#second { background: url(../img/nyc.png) 50% 0 no-repeat fixed; }
#third { background: url(../img/texture-noise.png); color: white; }

#second h1 { margin-top: 100px; color: white; text-shadow: 5px 5px 0 #ffd217; }
#second small { background-color: black; color: white; text-shadow: none; padding: 5px; position: relative; top: 15px; background-color: rgba(0,0,0,0.6);}


#first .logo, #first .tile { display: inline-block; }
#first .tile { width: 250px; }
#first article { width: 100%; top: 0px; position: absolute; text-align: center; }

#second { padding: 0; max-height: 360px !important; background-color: #BFD1E5; }

#third { height: 440px; padding: 0; background: #092D3F; }

.attributions { font-size: 11px; margin-top: 30px; }

.world-item-link:hover .palette, .world-item-link:active .palette { 
  background-color: #3498db;
}

.palette {
  color: #ffffff;
  margin: 0;
  padding: 15px;
  text-transform: uppercase;
  display: block;
  width: 300px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.palette dt {
  display: block;
  font-weight: 600;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.palette dd {
  font-weight: 200;
  margin-left: 0;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.palette-turquoise {
  background-color: #1abc9c;
}
.palette-green-sea {
  background-color: #16a085;
}
.palette-emerald {
  background-color: #2ecc71;
}
.palette-nephritis {
  background-color: #27ae60;
}
.palette-peter-river {
  background-color: #3498db;
}
.palette-belize-hole {
  background-color: #2980b9;
}
.palette-amethyst {
  background-color: #9b59b6;
}
.palette-wisteria {
  background-color: #8e44ad;
}
.palette-wet-asphalt {
  background-color: #34495e;
}
.palette-midnight-blue {
  background-color: #2c3e50;
}
.palette-sun-flower {
  background-color: #f1c40f;
}
.palette-orange {
  background-color: #f39c12;
}
.palette-carrot {
  background-color: #e67e22;
}
.palette-pumpkin {
  background-color: #d35400;
}
.palette-alizarin {
  background-color: #e74c3c;
}
.palette-pomegranate {
  background-color: #c0392b;
}
.palette-clouds {
  background-color: #ecf0f1;
}
.palette-silver {
  background-color: #bdc3c7;
}
.palette-concrete {
  background-color: #95a5a6;
}
.palette-asbestos {
  background-color: #7f8c8d;
}
.palette-clouds {
  color: #bdc3c7;
}
.palette-paragraph {
  color: #7f8c8d;
  font-size: 12px;
  line-height: 17px;
}
.palette-paragraph span {
  color: #bdc3c7;
}
.palette-headline {
  color: #7f8c8d;
  font-weight: 700;
  margin-top: -5px;
}