body { background: none; }
.container { width: 940px; background: none; margin-top: 100px; }
.demo-download-text { color: white; }
.demo-logo small { color: white; }
.hidden { display: none; }
#import-popup p { margin: 10px 0; }
.file-select { width: 300px; }
.title { position: absolute; color: white; padding: 5px; font-size: 30px; top: 0; }
.settings, .worlds {
  display: block;
  margin-left: 5px;
  width: 40px;
  height: 40px;
  background-size: 40px;
  background-repeat: no-repeat;
}

#settings-popup iframe { height: 50px; }
#settings-popup .btn { width: 300px; }
#settings-popup .info { margin: 10px 0; }
.settings { background-image: url(/img/settings-round.png); }
.worlds { background-image: url(/img/world-round.png); }

.settings:hover, .settings:active, .worlds:hover, .worlds:active { 
  -webkit-animation: rotating 2s linear infinite;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
