body { background: none; }
.container { width: 940px; background: none; margin-top: 100px; }
.demo-download-text { color: white; }
.demo-logo small { color: white; }
.hidden { display: none; }
#import-popup p { margin: 10px 0; }
.file-select { width: 300px; }
.title { position: absolute; color: white; padding: 5px; font-size: 40px; top: 0; }