body { background: none; }
.container { width: 940px; background: none; margin-top: 100px; }
.demo-download-text { color: white; }
.demo-logo small { color: white; }
.hidden { display: none; }
#import-popup p { margin: 10px 0; }
.file-select { width: 300px; }
.title { position: absolute; color: white; padding: 5px; font-size: 30px; top: 0; }
.settings {
  display: block;
  width: 40px;
  height: 40px;
  background: url(/img/settings-round.png) no-repeat 0 0;
  background-size: 40px;
}

.settings:hover, .settings:active { 
  -webkit-animation: rotating 2s linear infinite;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
